name: Post welcome comment

permissions:
  pull-requests: write

on:
 pull_request:
    types: [opened]

jobs:
  welcome:
    name: Post welcome comment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run step
        run: echo "Step is running"
      - name: Comment on PR
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.issues.createComment({
              issue_number: context.payload.pull_request.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "My comment is approved"
            })
